---
layout: default
---

<div class="home">
  <div class="text--center">
    <p>A website about Japanese video games. Currently on hiatus.</p>
  </div>

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          {% if post.image %}
            <img src="{{ post.image }}">
          {% endif %}

          <h2>
            {{ post.title }}
          </h2>

          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
